/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
  background: #e7e5e5;
}
h1,
h2,
h3 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
  color: #216869;
}
h2 {
  font-size: 3rem;
  color: #216869;
}
h3 {
  font-size: 2.5rem;
  color: #9a031e;
}
h4 {
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  color: #fffbff;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #011627;
}
li {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #011627;
}
a {
  font-size: 1.6rem;
  color: #fffbff;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  height: 70px;
  background: #9a031e;
  box-shadow: 0px 3px 10px #011627;
}
@media (max-width: 500px) {
  .navigation {
    height: 50px;
  }
}
.navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav-container .logo-heading {
  padding: 10px;
  font-family: "Audiowide", cursive;
  font-size: 4rem;
  color: #fffbff;
}
.navigation .nav-container .logo-heading span:last-child {
  margin: 0 0 0 -11px;
}
@media (max-width: 500px) {
  .navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
  .navigation .nav-container .logo-heading span:last-child {
    margin: 0 0 0 -6px;
  }
}
.navigation .nav-container .nav {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .navigation .nav-container .nav {
    width: 100%;
    justify-content: space-around;
  }
}
.navigation .nav-container .nav .nav-link {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6rem;
  color: #fffbff;
  text-decoration: none;
}
.navigation .nav-container .nav .nav-link:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .navigation .nav-container .nav .nav-link {
    font-size: 1.4rem;
  }
}
.footer {
  width: 100%;
  background: #9a031e;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer {
    height: 25px;
  }
  .footer h4 {
    font-size: 1.5rem;
  }
}
.main {
  padding: 90px 10px 20px 10px;
}
.main .intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .main .intro {
    flex-direction: column;
  }
}
.main .intro .text-content {
  margin: 0 20px;
}
.main .intro .text-content span {
  color: #9a031e;
  font-weight: 600;
}
@media (max-width: 500px) {
  .main .intro .text-content {
    margin: 0 0 10px 0;
    text-align: center;
  }
  .main .intro .text-content h1 {
    display: flex;
    flex-direction: column;
  }
}
.main .intro .img-content {
  margin: 0 20px;
}
@media (max-width: 500px) {
  .main .intro .img-content {
    margin: 10px 20px;
  }
}
.main .intro .img-content img {
  width: 200px;
  border-radius: 50%;
  border: 3px outset #011627;
}
.main .about {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
@media (max-width: 500px) {
  .main .about {
    text-align: center;
  }
}
.main .about .about-content {
  display: flex;
}
@media (max-width: 500px) {
  .main .about .about-content {
    flex-direction: column;
    text-align: justify;
  }
}
.main .about .about-content .about-text {
  margin: 10px 10px;
}
@media (max-width: 500px) {
  .main .projects {
    text-align: center;
  }
}
.main .projects .project {
  display: flex;
  flex-direction: column;
}
.main .projects .project .project-display {
  margin: 20px 0;
  width: 80%;
  align-self: center;
}
.main .projects .project .project-specs {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main .projects .project .project-specs {
    text-align: justify;
    flex-direction: column;
    align-items: center;
  }
}
.main .projects .project .project-specs .spec-item {
  width: 30%;
  margin: 0 10px;
}
@media (max-width: 500px) {
  .main .projects .project .project-specs .spec-item {
    width: 90%;
    margin: 10px 0;
  }
}
.main .projects .project .project-specs .spec-item span {
  color: #9a031e;
  font-weight: 500;
}
.main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.main .contact .contact-info {
  width: 260px;
  border-radius: 25px;
  background: #216869;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  margin: 20px 0 0 0;
}
.main .contact .contact-info p {
  color: #fffbff;
}
