* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: @roboto;
  background: @platinum;
}

h1,
h2,
h3,
h4 {
  font-family: @shadows;
}

h1 {
  font-size: 4rem;
  color: @myrtle;
}

h2 {
  font-size: 3rem;
  color: @myrtle;
}

h3 {
  font-size: 2.5rem;
  color: @heidelberg;
}

h4 {
  font-size: 2rem;
  color: @white;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: @maastricht;
}

li {
  line-height: 1.5;
  font-size: 1.6rem;
  color: @maastricht;
}

a {
  font-size: 1.6rem;
  color: @white;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
