.main {
  padding: 90px 0;

  .intro {
    img {
      width: 25%;
      border-radius: 50%;
    }
  }

  .projects {
    .project {
      img {
        width: 90%;
      }
    }
  }

  .contact {
    .contact-info {
      background: @myrtle;
    }
  }
}
