* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.full-width {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
}

.intro {
  img {
    width: 25%;
    border-radius: 50%;
  }
}

.projects {
  .project {
    img {
      width: 90%;
    }
  }
}

.contact {
  .contact-info {
    background: @myrtle;
  }
}
